@page "/counter"


@inject Blazored.LocalStorage.ILocalStorageService localStore


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increase</button>
<button class="btn btn-danger" @onclick="ResetCount">Reset</button>



@code {

    private static int counter = 0;

    // load value from local storage
    protected override async Task OnInitializedAsync()
    {
        counter = await localStore.GetItemAsync<int>(nameof(counter));
    }

    private async Task IncrementCount()
    {
        counter++;

        await localStore.SetItemAsync(nameof(counter), counter);
    }

    private async Task ResetCount()
    {
        counter = 0;

        await localStore.RemoveItemAsync(nameof(counter));
    }

}
